.app_menuItem {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.app_menuItem-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app_menuItem-sub {
  width: 100%;
  margin: 0.2rem;
}

.app_menuItem-name {
  flex: 1;
}

.app_menuItem-dash {
  width: 90px;
  height: 1px;

  background: var(--color-golden);
  margin: 0 1rem;
}

.app_menuItem-price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
